@import "_nullstyle";

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {}

   &__title {
      margin: 50px;
      position: relative;
   }

   &__row {
      padding: 20px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
   }

   &__item {
      max-width: 300px;
      max-height: 500px;
      border: 2px solid #000;
      padding: 30px 20px;
      background: #f87;
   }

   &__image {
      margin: 0 auto;
      border: 4px solid #7b7b7b;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background: url(../img/1448968269_629.jpg) no-repeat;
      background-size: auto 102%;
      background-position: -60px 0px;
   }

   &__text {
      margin: 30px 0px 0px 0px;
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
   }
}
.content {
   max-width: 1000px;
   margin: 0 auto;
}
.title {
   font-size: 48px;
   font-weight: 700;
   text-align: center;
   margin: 0px 0px 20px 0px;
   color: #400040;
}
.text {
   text-align: center;
   font-size: 26px;
   font-weight: 500;
   margin: 30px

}
body {
   line-height: 12px;
}
.design {
   text-align: center;
   width: 200px;
   height: 3px;
   background: #000;
   position: relative;
   left: 340px;
}

.design {
   text-align: right;
}