* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

s
img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block__title {
  margin: 50px;
  position: relative;
}

.block__row {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__item {
  max-width: 300px;
  max-height: 500px;
  border: 2px solid #000;
  padding: 30px 20px;
  background: #f87;
}

.block__image {
  margin: 0 auto;
  border: 4px solid #7b7b7b;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: url(../img/1448968269_629.jpg) no-repeat;
  background-size: auto 102%;
  background-position: -60px 0px;
}

.block__text {
  margin: 30px 0px 0px 0px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 20px 0px;
  color: #400040;
}

.text {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin: 30px;
}

.design {
  text-align: center;
  width: 200px;
  height: 3px;
  background: #000;
  position: relative;
  left: 340px;
}
